<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="dropdown button-dropdown">
            <div ngbDropdown>
                <a class="dropdown-toggle" ngbDropdownToggle>
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                </a>
                <div ngbDropdownMenu>
                    <a class="dropdown-header">Dropdown header</a>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">One more separated link</a>
                </div>
            </div>
        </div>
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom" ngbTooltip="Designed by Invision. Coded by Creative Tim">
                eLearning
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li>
                    <span *ngIf="!isLoggedIn()">
                        <button class="login" mat-button routerLink="/login" routerLinkActive="active" class="color-white">{{ 'common.login' | translate }}</button>
                        <button class="register" mat-button *ngIf="!isLoggedIn()" routerLink="/register"
                                routerLinkActive="active" class="color-white">{{ 'common.register' | translate }}</button>
                        <span class="between-distance" *ngIf="!isLoggedIn()"></span>
                    </span>

                    <span *ngIf="isLoggedIn()">
                        <button mat-button routerLink="/profile" class="color-white">
                          <img *ngIf="this.avatarBackgroundImage === undefined; else elseBlock"
                               class="avatar" src="{{this.userService.user.getGravatarURL(30)}}" width="30" height="30">
                          <ng-template #elseBlock>
                            <div class="user-icon" [style.backgroundImage]="this.avatarBackgroundImage"></div>
                          </ng-template>
                          <span class="firstname-wrapper">{{ this.userService.user.profile.firstName }}</span>
                    </button>
                    <app-notification *ngIf="isStudent()" class="app-notification"></app-notification>
                    </span>
                </li>
                <!--<li>
                    <button mat-icon-button [matMenuTriggerFor]="langMenu" class="color-white">
                        <mat-icon>language</mat-icon>
                        <span>{{translate.currentLang | uppercase}}</span>
                      </button>
                    <mat-menu #langMenu="matMenu">
                        <button mat-menu-item (click)="changeLanguage('de')">
                          Deutsch
                        </button>
                        <button mat-menu-item (click)="changeLanguage('en')">
                          English
                        </button>
                    </mat-menu>
                </li>-->
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button" *ngIf="isLoggedIn()">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngIf="isLoggedIn() && isAdmin()" routerLink="/admin" routerLinkActive="active">
                        <mat-icon>settings</mat-icon>
                        <span>{{ 'mainMenu.admin' | translate }}</span>
                        </button>
                        <button mat-menu-item *ngIf="isLoggedIn() && isStudent()" routerLink="/userSettings" routerLinkActive="active">
                        <mat-icon>settings</mat-icon>
                        <span>{{ 'mainMenu.userSettings' | translate }}</span>
                        </button>
                        <button mat-menu-item *ngIf="isLoggedIn()" (click)="logout()" routerLink="" routerLinkActive="active">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>{{ 'mainMenu.logout' | translate }}</span>
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </div>
</nav>