:host {
    flex-grow: 1;
    display: flex;
}

app-dashboard {
    width: 100%;
    padding-top: 80px !important;
}

app-homescreen {
    width: 100% !important;
}

.pading-top-64px {
    padding-top: 64px !important;
}