<div [formGroup]="form">
    <div class="input-group form-group-no-border input-lg">
        <div class="input-group-prepend">
            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
        </div>
        <input matInput type="password" class="form-control" formControlName="password" [placeholder]="'common.password'|translate" />
        <div *ngIf="form.controls.password.touched">
            <small *ngIf="form.controls.password.hasError('required')" class="text-danger">
              {{'common.validation.required'|translate}}
            </small>
            <small *ngIf="form.controls.password.hasError('pattern')" class="text-danger">
              {{'common.validation.password'|translate}}
            </small>
        </div>
    </div>

    <div class="input-group form-group-no-border input-lg">
        <div class="input-group-prepend">
            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
        </div>
        <input matInput type="password" class="form-control" formControlName="confirmPassword" [placeholder]="'auth.confirmPassword'|translate" />
        <div *ngIf="form.controls.confirmPassword.touched">
            <small *ngIf="form.hasError('mismatchedPasswords')" class="text-danger">
              {{'common.validation.passwordsMatch'|translate}}
            </small>
        </div>
    </div>
</div>